html,body{ margin:0; padding:0; height:100%; width:100%; background-color: #424242; overflow: auto}

.noMargin{
    margin: 0;
}

.dialogWidth{
    width: 20%;
    text-align: center;
    max-width: none;
}

.streamContainer{
    margin-left: 25%;
    height: 100%;
    width: 50%;
    padding-bottom: 30px;
}

.GitHubList{
    position: fixed;
    right:0;
    top:70px;
    margin-right: 2%;
    width: 22%;
    height: 80%
}

.mainList{
    list-style-type: none;
    padding-left: 20px;
    padding-right: 20px;
}

#scrollable{
    overflow-y: scroll;
    height:300px
}

#scrollable li{
    background-color: #616161 ;
    border: solid 1px #212121;
    padding: 0 10px 0 10px
}
.commentList{
    list-style-type: none;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-left: solid 1px #757575;
    border-right: solid 1px #757575;
    border-bottom: solid 1px #757575;
}

.comment{

    border: solid 1px #757575;

}

.mainList li{
    margin-bottom: 10px;
}

.title{
    text-align: center;
}

.textField{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom:20px;
}

.fullWidth{
    width: 100%;
}

.uploadInput{
    cursor: pointer;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    opacity: 0;
}


.postBody{
    font-size: 2em;
}

.innerText{
    color: #9E9E9E;
}

.postBody{
    font-size: 2em;
}

.nameLink{
    color:#82B1FF;
    cursor: pointer;
}
.nameLink:hover{
    text-decoration: underline;
}

.greyToolbar{
    background-color: #9E9E9E;
}

.image{
    width: 100%;
    height: 100%;
    display: block;
}

.smallText{
    font-size: 0.8em;
    color:#9E9E9E;
    padding: 0 0 0 10px;
}

h4#pendingHeader {
    color:#757575;
    text-align:center;
}

.previousButton{
    width:133px
}

.nextButton{
    width:133px;
    float:right;
}